*.in
*.o
*.lo
*.la
*~
Makefile
CVS
.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
doc/mdate-sh
doc/ngspice.info
doc/ngspice.info-1
doc/ngspice.info-2
doc/ngspice.pdf
doc/texinfo.tex
install-sh
libtool
ltmain.sh
m4/
missing
src/maths/cmaths/test_cx_j
src/maths/cmaths/test_cx_mag
src/maths/cmaths/test_cx_ph
src/ngmakeidx
src/ngmultidec
src/ngnutmeg
src/ngproc2mod
src/ngsconvert
src/ngspice
src/ngspice.idx
src/spinit
src/tclspinit
src/xspice/cmpp/cmpp
src/xspice/cmpp/ifs_lex.c
src/xspice/cmpp/ifs_yacc.c
src/xspice/cmpp/ifs_yacc.h
src/xspice/cmpp/mod_lex.c
src/xspice/cmpp/mod_yacc.c
src/xspice/cmpp/mod_yacc.h
src/xspice/icm/GNUmakefile
src/xspice/icm/makedefs
stamp-h1
tests/xspice/digital/spinit
xgraph/autom4te.cache/
xgraph/depcomp
xgraph/install-sh
xgraph/missing
ylwrap
